<pharmacy-admin-navbar></pharmacy-admin-navbar>
<div>



    <div style="margin-left:300px; margin-top:-50px; padding:60px;">
        <h1>Pharmacists</h1>

        <form (ngSubmit)="searchPharmas()" #allergyForm="ngForm">
            <div class="row">

                <div class="col-sm-6">
                    <div class="form-group">
                        <input type="text" value="" placeholder="First Name" class="form-control" name="name" #name="ngModel"
                            [(ngModel)]="searchParameters.firstname" />
                    </div>
                </div>

                <div class="col-sm-6">
                    <div class="form-group">
                        <input type="text" value="" placeholder="Last Name" class="form-control" name="name" #name="ngModel"
                            [(ngModel)]="searchParameters.lastname" />
                    </div>
                </div>

                <div class="col-sm-6">
                    <div class="form-group">
                        <input type="text" value="" placeholder="City" class="form-control" name="city" #city="ngModel"
                            [(ngModel)]="searchParameters.city" />
                    </div>
                </div>

                <div class="col-sm-6">
                    <div class="form-group">
                        <input type="text" value="" placeholder="Address" class="form-control" name="address"
                            #address="ngModel" [(ngModel)]="searchParameters.address" />
                    </div>
                </div>

                <div class="col-sm-6">
                    <div class="form-group">
                        <input type="text" value="" placeholder="Email" class="form-control" name="description"
                            #description="ngModel" [(ngModel)]="searchParameters.email" />
                    </div>
                </div>

                <div class="col-sm-3">
                    <div class="form-group">
                        <input type="number" value="" placeholder="Rate from" class="form-control" name="rateFrom"
                            #rateFrom="ngModel" [(ngModel)]="searchParameters.rateFrom" />
                    </div>
                </div>

                <div class="col-sm-3">
                    <div class="form-group">
                        <input type="number" value="" placeholder="Rate to" class="form-control" name="rateTo"
                            #rateTo="ngModel" [(ngModel)]="searchParameters.rateTo" />
                    </div>
                </div>
                <div class="col-sm-3">
                    <input type="submit" value="Search" mat-raised-button class="btn btn-success">
                </div>
                <form (ngSubmit)="refresh()" #allergyForm="ngForm">
                    <div class="col-sm-3">
                        <input type="submit" value="Refresh" mat-raised-button class="btn btn-success">
                    </div>
            </form>
            </div>
        </form>



            <div class="row">
                <div class="card">
                    <div class="card-header card-header-success">
                        <h4 class="card-title">Pharmacist</h4>
                    </div>
                    <div class="card-content table-responsive table-full-width">
                        <table class="table">
                            <thead class="text-success">

                                <th>First Name</th>
                                <th>Last name</th>
                                <th>Email</th>
                                <th>City</th>
                                <th>Rate</th>
                                <th>Pharmacy</th>
                            </thead>
                            <tbody>
                                <tr *ngFor='let k of myPharmas'>

                                    <td>{{k.firstName}}</td>
                                    <td>{{k.lastName}}</td>
                                    <td>{{k.email}}</td>
                                    <td>{{k.city}}</td>
                                    <td>{{k.rate}}</td>
                                    
                                    
                                    <td [(ngModel)]="myPharmacy"> {{myPharmacy.name}}</td>
                                    
                                    
                                </tr>
                                
                            </tbody>
                           
                        </table>
                    </div>
                </div>
            </div>
       
            <div>
                <h1>Important:</h1>
                <h2>In order to be able to create consultations, remove persons or see the list of theirs pending vacations, please assign working days to all pharmacists from the list above!</h2>
                <form (ngSubmit)="addPharmacist()" #newDermatologistForm="ngForm">
                    <div class="row">
                        <div class="col">
    
                            <div class="col-sm-8">
                                <mat-form-field appearance="fill">
                                    <mat-label>List of pharmacists who do not have declared working schedule</mat-label>
                                    <mat-select name="nemamPojma1" #nemamPojma1="ngModel" [(ngModel)]='pharmacistId'>
                                        <mat-option *ngFor="let newPharma of myPharmas"
                                            [value]="newPharma.id">{{newPharma.firstName}}
                                           
                                        </mat-option>
                                    </mat-select>
                                </mat-form-field>
                            </div>
    
                            <div class="col-sm-8">
                                <mat-form-field appearance="fill">
                                    <mat-label>Working days</mat-label>
                                    <mat-select name="nemamPojma2" #nemamPojma2="ngModel" [(ngModel)]='workDays' multiple>
                                        <mat-option value="MONDAY">Monday</mat-option>
                                        <mat-option value="TUESDAY">Tuesday</mat-option>
                                        <mat-option value="WEDNESDAY">Wednesday</mat-option>
                                        <mat-option value="THURSDAY">Thursday</mat-option>
                                        <mat-option value="FRIDAY">Friday</mat-option>
                                    </mat-select>
                                </mat-form-field>
                            </div>
    
                            <div>
                                <input type="submit" value="Assign" mat-raised-button class="btn btn-success">
                            </div>
                        </div>
                    </div>
                </form>
            </div>
            &nbsp;
            <div>
                <h2>Remove Pharmacist</h2>
                <form (ngSubmit)="deletePharma()" #deleteForm="ngForm">
                    <div class="row">
                        <div class="col">
    
                            <div class="col-sm-8">
                                <mat-form-field appearance="fill">
                                    <mat-label>Pharmacist</mat-label>
                                    <mat-select name="nemamPojma12" #nemamPojma12="ngModel" [(ngModel)]='pharmacistIdDelete'>
                                        <mat-option *ngFor="let newPharma of myPharmas"
                                            [value]="newPharma.id">{{newPharma.firstName}}
                                           
                                        </mat-option>
                                    </mat-select>
                                </mat-form-field>
                            </div>
    
                          
    
                            <div>
                                <input type="submit" value="Delete" mat-raised-button class="btn btn-success">
                            </div>
                        </div>
                    </div>
                </form>
            </div>


            &nbsp;
            <div>
                <h2>Create Pharmacists Consultation</h2>
                <h3>Please select pharmacist, date, time and enter price. Do not forget to assign his working days!</h3>
                <form (ngSubmit)="createAppointment()" #newDermatologistForm="ngForm">
                    <div class="row">
                        <div class="col">
    
                            <div class="col-sm-8">
                                <mat-form-field appearance="fill">
                                    <mat-label>Pharmacist</mat-label>
                                    <mat-select name="nemamPojma3" #nemamPojma3="ngModel" [(ngModel)]='appointmentPharmId'>
                                        <mat-option *ngFor="let pharmacist of myPharmas" [value]="pharmacist.id">
                                            {{pharmacist.firstName}} {{pharmacist.lastName}} </mat-option>
                                    </mat-select>
                                </mat-form-field>
                            </div>
                            <div class="col-sm-8">
                                <mat-form-field appearance="fill">
                                    <mat-label>Date</mat-label>
                                    <input matInput [matDatepicker]="picker" name="nemamPojma4" #nemamPojma4="ngModel"
                                        [(ngModel)]='appointmentDate'>
                                    <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                                    <mat-datepicker #picker></mat-datepicker>
                                </mat-form-field>
                            </div>
    
                            <div class="col-sm-8">
                                <mat-form-field appearance="fill">
                                    <mat-label>Time</mat-label>
                                    <mat-select name="nemamPojma5" #nemamPojma5="ngModel" [(ngModel)]='appointmentTime'>
                                        <mat-option value="8:00">8:00</mat-option>
                                        <mat-option value="8:30">8:30</mat-option>
                                        <mat-option value="9:00">9:00</mat-option>
                                        <mat-option value="9:30">9:30</mat-option>
                                        <mat-option value="10:00">10:00</mat-option>
                                        <mat-option value="10:30">10:30</mat-option>
                                        <mat-option value="11:00">11:00</mat-option>
                                        <mat-option value="11:30">11:30</mat-option>
                                        <mat-option value="12:00">12:00</mat-option>
                                        <mat-option value="12:30">12:30</mat-option>
                                        <mat-option value="13:00">13:00</mat-option>
                                        <mat-option value="13:30">13:30</mat-option>
                                        <mat-option value="14:00">14:00</mat-option>
                                        <mat-option value="14:30">14:30</mat-option>
                                        <mat-option value="15:00">15:00</mat-option>
                                        <mat-option value="15:30">15:30</mat-option>
                                        <mat-option value="16:00">16:00</mat-option>
                                        <mat-option value="16:30">16:30</mat-option>
                                    </mat-select>
                                </mat-form-field>
                            </div>
    
    
                            <div class="col-sm-3">
                                <div class="form-group">
                                    <input type="number" value="" placeholder="Price" class="form-control"
                                        name="nemamPojma33" #nemamPojma33="ngModel" [(ngModel)]="appointmentPrice" />
                                </div>
                            </div>
    
                            <div>
                                <input type="submit" value="Create" mat-raised-button class="btn btn-success">
                            </div>
                        </div>
                    </div>
                </form>
    
            </div>
            &nbsp;
            <h1>Register new pharmacist</h1>
           <form (ngSubmit)="registerPharma()" #registrationForm="ngForm">
            <div class="row">
            <div class="col">

                <div class="col-sm-8">
                    <div class="form-group">
                        <input type="text" value="" placeholder="First Name" class="form-control" required
                            name="firstName" #firstName="ngModel" [(ngModel)]="newPharma.firstName"/>
                    </div>
                </div>

                <div class="col-sm-8">
                    <div class="form-group">
                        <input type="text" value="" placeholder="Last Name" class="form-control" required
                            name="lastName" #lastName="ngModel" [(ngModel)]="newPharma.lastName"/>
                    </div>
                </div>

                <div class="col-sm-8">
                    <div class="form-group">
                        <input type="text" value="" placeholder="Address" class="form-control" required
                            name="address" #address="ngModel" [(ngModel)]="newPharma.address"/>
                    </div>
                </div>

                <div class="col-sm-8">
                    <div class="form-group">
                        <input type="text" value="" placeholder="City" class="form-control" required
                            name="city" #city="ngModel" [(ngModel)]="newPharma.city"/>
                    </div>
                </div>

                <div class="col-sm-8">
                    <div class="form-group">
                        <input type="text" value="" placeholder="Country" class="form-control" required
                            name="country" #country="ngModel" [(ngModel)]="newPharma.country"/>
                    </div>
                </div>

                <div class="col-sm-8">
                    <div class="form-group">
                        <input type="number" value="" placeholder="Phone Number" class="form-control" required
                            name="phoneNumber" #phoneNumber="ngModel" [(ngModel)]="newPharma.phoneNumber"/>
                    </div>
                </div>

                <div class="col-sm-8">
                    <div class="form-group">
                        <input type="text" value="" placeholder="E-mail" class="form-control" required name="email"
                            #email="ngModel" [(ngModel)]="newPharma.email"/>
                    </div>
                </div>

                <div class="col-sm-8">
                    <div class="form-group">
                        <input type="password" value="" placeholder="Password" class="form-control" required
                            name="password" #password="ngModel" [(ngModel)]="newPharma.password"/>
                    </div>
                </div>


                <div>
                    <input type="submit" value="Register" mat-raised-button class="btn btn-success">
                </div>
            </div>

        </div>
    </form>
    &nbsp;
    <div class="row">
        <h1>All pharmacists vacation that are waiting to be approved</h1>
        <h3>After you accept/reject vacation, pharmacist will be able to check his updated list of vacations and he will receive an email</h3>

        <div class="card">
            <div class="card-header card-header-success">
                <h4 class="card-title">Vacations</h4>
            </div>
            <div class="card-content table-responsive table-full-width">
                <table class="table">
                    <thead class="text-success">

                        <th>Pharmacist ID</th>
                        <th>Date From</th>
                        <th>Date To</th>
                        <th>Status</th>
                    </thead>
                    <tbody>
                        <tr *ngFor='let k of allVacations'>

                            <td>{{k.pharmacistId}}</td>
                            <td>{{k.dateFrom}}</td>
                            <td>{{k.dateTo}}</td>
                            <td>{{k.status}}</td>

                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
    <h3>Accept vacation from pharmacist</h3>
    <form (ngSubmit)="acceptAnOffer()" #offerForm="ngForm">
        <div class="row">
            <div class="col">


                <div class="col-sm-8">
                    <mat-form-field appearance="fill">
                        <mat-label>Pharmacist Id</mat-label>
                        <mat-select name="nemamPojma1" #nemamPojma1="ngModel" [(ngModel)]='acceptedId'>
                            <mat-option *ngFor="let offer of allVacations" [value]="offer.id">{{offer.id}}
                            </mat-option>
                        </mat-select>
                    </mat-form-field>
                </div>

                <div>
                    <input type="submit" value="Accept" mat-raised-button class="btn btn-success">
                </div>
            </div>
        </div>
    </form>
    
    <h3>Reject vacation from pharmacist</h3>
    <form (ngSubmit)="rejectAnOffer()" #offerForm="ngForm">
        <div class="row">
            <div class="col">


                <div class="col-sm-8">
                    <mat-form-field appearance="fill">
                        <mat-label>Pharmacist Id</mat-label>
                        <mat-select name="nemamPojma13" #nemamPojma13="ngModel" [(ngModel)]='rejectedId'>
                            <mat-option *ngFor="let offer of allVacations" [value]="offer.id">{{offer.id}}
                            </mat-option>
                        </mat-select>
                    </mat-form-field>
                </div>
                <div class="col-sm-3">
                    <div class="form-group">
                        <input type="text" value="" placeholder="Reason" class="form-control"
                            name="nemamPojma33" #nemamPojma33="ngModel" [(ngModel)]="opis" />
                    </div>
                </div>
                <div>
                    <input type="submit" value="Reject" mat-raised-button class="btn btn-success">
                </div>
            </div>
        </div>
    </form>

    </div>
    

   

</div>