<pharmacy-admin-navbar></pharmacy-admin-navbar>

<div style="margin-left:300px; margin-top:-50px; padding:60px;">
    <h1>Pharmacists</h1>
    <div class="row">
        <div class="card">
            <div class="card-header card-header-success">
                <h4 class="card-title">Pharmacists</h4>
            </div>
            <div class="card-content table-responsive table-full-width">
                <table class="table">
                    <thead class="text-success">
                    
                        <th>First Name</th>
                        <th>Last name</th>
                        <th>Rate</th>
                    </thead>
                    <tbody>
                        <tr *ngFor='let a of myPharmas'>
                           
                            <td>{{a.firstName}}</td>
                            <td>{{a.lastName}}</td>
                            <td>{{a.rate}}</td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>

</div>