<pharmacy-admin-navbar></pharmacy-admin-navbar>

<div>

    <div style="margin-left:300px; margin-top:50px; padding:60px;">
        <h1>Active orders</h1>
        <h2>You can see offers by clicking on Pharmacy ID!</h2>
        
        <div class="card" style="margin-top: 50px;">
            <div class="card-header card-header-success">
                <h4 class="card-title">Active orders </h4>
                <p class="card-category">Orders that are still available for offer</p>
            </div>
            
            <div class="card-content table-responsive table-full-width">
                <table class="table">
                    <thead class="text-success">
                        <th>ID</th>
                        <th>Pharmacy </th>
                        <th>Deadline </th>
                        <th>Status</th>
                    </thead>
                    <tbody>
                        <tr *ngFor='let order of activeOrders'>
                            <td><a [routerLink]="[order.id]">{{order.id}}</a></td>
                            <td>{{order.pharmacyName}}</td>
                            <td>{{order.deadline}}</td>
                            <td>{{order.orderStatus}}</td>

                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
        &nbsp;
        <h2>Create new order</h2>
        <h2>Please first add all items to order and when you finish, you can proceed to the next step!</h2>

        <div class="row">
            <div class="col">

                <h3>Order items:</h3>
                <p *ngFor="let item of newOrderItems">{{item.medicineName}}, {{item.quantity}}</p>

                <div class="col-sm-8">
                    <div class="form-group">
                        <h3>Step 1:</h3>
                        <mat-label>New item - quantity</mat-label>
                        <input type="number" value="" placeholder="Price" class="form-control" required name="nemamPojma33"
                            #nemamPojma33="ngModel" [(ngModel)]="newItem.quantity" />
                    </div>
                </div>

                <div class="col-sm-8">
                    <mat-form-field appearance="fill">
                        
                        <mat-label>New item - medicine</mat-label>
                        <mat-select required name="nemamPojma3" #nemamPojma3="ngModel" [(ngModel)]='newItem.medicineId'>
                            <mat-option *ngFor="let medicine of allMedicines" [value]="medicine.id">
                                {{medicine.name}}</mat-option>
                        </mat-select>
                    </mat-form-field>
                </div>


                <div class="col-sm-8">
                    <button mat-raised-button class="btn btn-success btn-sm" (click)="addItemToOrder()">Add item to
                        order</button>
                </div>
                &nbsp;
                <div class="col-sm-8">
                    <h3>Step 2:</h3>
                    <mat-form-field appearance="fill">
                        <mat-label>Offers placement deadline</mat-label>
                        <input required matInput [matDatepicker]="picker" name="nemamPojma4" #nemamPojma4="ngModel"
                            [(ngModel)]='newOrder.deadline'>
                        <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                        <mat-datepicker #picker></mat-datepicker>
                    </mat-form-field>
                </div>

                <div class="col-sm-8">
                    <button mat-raised-button class="btn btn-success btn-sm" (click)="createOrder()">Create</button>
                </div>

            </div>
        </div>
        &nbsp;
        <h2>List of all orders that can be filtered by current status:</h2>
        <div class="card" style="margin-top: 50px;">
            <div class="card-header card-header-success">
                <h4 class="card-title">All orders </h4>
                
        
            </div>
            
            <form (ngSubmit)="filter()" #newDermatologistForm="ngForm">
                <div class="row">
                    <div class="col">
                        <div class="col-sm-8">
                            <mat-form-field appearance="fill">
                                <mat-label>Filter by Status</mat-label>
                                <mat-select name="nemamPojma5" #nemamPojma5="ngModel" [(ngModel)]='filterValue'>
                                    <mat-option value="ACTIVE">Active</mat-option>
                                    <mat-option value="INACTIVE">Inactive</mat-option>
                                    <mat-option value="DELETED">Deleted</mat-option>      
                                </mat-select>
                            </mat-form-field>
                        </div>
                        
                        <div>
                            <input type="submit" value="Filter" mat-raised-button class="btn btn-success">
                        </div>
                       
                    </div>
                   
                </div>
                
            </form>
            
            <div class="card-content table-responsive table-full-width">
                <table class="table">
                    <thead class="text-success">
                        <th>ID</th>
                        <th>Pharmacy </th>
                        <th>Deadline </th>
                        <th>Status</th>
                    </thead>
                    <tbody>
                        <tr *ngFor='let order of filteredOffers'>
                            <td><a [routerLink]="[order.id]">{{order.id}}</a></td>
                            <td>{{order.pharmacyName}}</td>
                            <td>{{order.deadline}}</td>
                            <td>{{order.orderStatus}}</td>

                        </tr>
                    </tbody>
                </table>
            </div>
        </div>



        <h2>Medication Inquiries</h2>
        
        <div class="card" style="margin-top: 50px;">
            <div class="card-header card-header-success">
                <h4 class="card-title">Inquiries </h4>
                <p class="card-category">Medicines that were asked for by pharmacists and dermatologists working in your pharmacy</p>
            </div>
            
            <div class="card-content table-responsive table-full-width">
                <table class="table">
                    <thead class="text-success">
                        <th>ID</th>
                        <th>Name </th>
                    </thead>
                    <tbody>
                        <tr *ngFor='let inquiry of inquiries'>
                            <td>{{inquiry.medicineId}}</td>
                            <td>{{inquiry.medicineName}}</td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>


</div>