<pharmacist-navbar></pharmacist-navbar>

<div>

    <div style="margin-left:300px; margin-top:50px; padding:60px;">
        <h1>My Profile</h1>
        <form (ngSubmit)="edit()" #loginForm="ngForm">
            <div class="row">
                <div class="col-sm-6">
                    <div class="form-group">
                        <input type="text" value="" placeholder="E-mail" class="form-control" name="email"
                            #email="ngModel" [(ngModel)]="user.email" disabled />
                    </div>
                </div>

                <div class="col-sm-6">
                    <div class="form-group">
                        <input type="text" value="" placeholder="Password" class="form-control" name="password"
                            #password="ngModel" [(ngModel)]="user.password" />
                    </div>
                </div>

                <div class="col-sm-6">
                    <div class="form-group">
                        <input type="text" value="" placeholder="First Name" class="form-control" name="firstName"
                            #firstName="ngModel" [(ngModel)]="user.firstName" />
                    </div>
                </div>

                <div class="col-sm-6">
                    <div class="form-group">
                        <input type="text" value="" placeholder="Last Name" class="form-control" name="lastName"
                            #lastName="ngModel" [(ngModel)]="user.lastName" />
                    </div>
                </div>

                <div class="col-sm-6">
                    <div class="form-group">
                        <input type="text" value="" placeholder="City" class="form-control" name="city" #city="ngModel"
                            [(ngModel)]="user.city" />
                    </div>
                </div>

                <div class="col-sm-6">
                    <div class="form-group">
                        <input type="text" value="" placeholder="Country" class="form-control" name="country"
                            #country="ngModel" [(ngModel)]="user.country" />
                    </div>
                </div>

                <div class="col-sm-6">
                    <div class="form-group">
                        <input type="text" value="" placeholder="Address" class="form-control" name="address"
                            #address="ngModel" [(ngModel)]="user.address" />
                    </div>
                </div>

                <div class="col-sm-6">
                    <div class="form-group">
                        <input type="number" value="" placeholder="Phone Number" class="form-control" name="phoneNumber"
                            #phoneNumber="ngModel" [(ngModel)]="user.phoneNumber" />
                    </div>
                </div>

                <div>
                    <input type="submit" value="Edit profile" mat-raised-button class="btn btn-success">
                </div>

            </div>
        </form>

        
        <div class="row">


            <h1>My Vacations list</h1>
            <div class="card">
                <div class="card-header card-header-success">
                    <h4 class="card-title">Vacations</h4>
                </div>
                <div class="card-content table-responsive table-full-width">
                    <table class="table">
                        <thead class="text-success">

                          
                            <th>Date From</th>
                            <th>Date To</th>
                            <th>Status</th>


                        </thead>
                        <tbody>
                            <tr *ngFor='let k of myVacations'>

                                
                                <td>{{k.dateFrom}}</td>
                                <td>{{k.dateTo}}</td>
                                <td>{{k.status}}</td>

                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>

        
        <div>
            <h1>New Vacation</h1>
            <form (ngSubmit)="addVacation()" #newDermatologistForm="ngForm">
                <div class="row">
                    <div class="col">

                

                        <div class="col-sm-8">
                            <mat-form-field appearance="fill">
                                <mat-label>Vacation Start Date</mat-label>
                                <input required matInput [matDatepicker]="picker1" name="nemamPojma4"
                                    #nemamPojma4="ngModel" [(ngModel)]='newVacation.dateFrom'>
                                <mat-datepicker-toggle matSuffix [for]="picker1"></mat-datepicker-toggle>
                                <mat-datepicker #picker1></mat-datepicker>
                            </mat-form-field>
                        </div>

                        <div class="col-sm-8">
                            <mat-form-field appearance="fill">
                                <mat-label>Vacation End Date</mat-label>
                                <input required matInput [matDatepicker]="picker2" name="nemamPojma34"
                                    #nemamPojma4="ngModel" [(ngModel)]='newVacation.dateTo'>
                                <mat-datepicker-toggle matSuffix [for]="picker2"></mat-datepicker-toggle>
                                <mat-datepicker #picker2></mat-datepicker>
                            </mat-form-field>
                        </div>




                        <div>
                            <input type="submit" value="Create" mat-raised-button class="btn btn-success">
                        </div>
                    </div>
                </div>
            </form>

        </div>

    </div>


</div>