<div style="margin-left:300px; margin-top:50px; padding:60px;">
    <h1>Change password</h1>
    <form (ngSubmit)="change_password()" #ChangePassword="ngForm">
        <div class="row">
            <div class="col-sm-8">
    

                <div class="col-sm-4">
                    <div class="form-group">
                        <input type="password" value="" placeholder="Password" class="form-control" required
                            name="password" #password="ngModel" [(ngModel)]="newPassword"/>
                    </div>
                </div>

                <div>
                    <input type="submit" value="Change password" mat-raised-button class="btn btn-success">
                </div>
            </div>

        </div>
    </form>
</div>