<dermatologist-navbar></dermatologist-navbar>

<div style="margin-left:300px; margin-top:50px; padding:60px;">

    
    <h1>{{appointment.patientName}}</h1>

    <div class="card" style="margin-top: 150px;">
        <div class="card-header card-header-success">
            <h4 class="card-title">Reserve Dermatologist Appointment</h4>
            <p class="card-category">This is the list of all the available appointments. You can reserve them here.</p>
        </div>
        <div class="card-content table-responsive table-full-width">
            <table class="table">
                <thead class="text-success">
                    <th>Dermatologist Name</th>
                    <th>Pharmacy Name</th>
                    <th>Date </th>
                    <th>Time </th>
                    <th>Price</th>
                    <th>Make Reservation </th>
                </thead>
                <tbody>
                    <tr *ngFor='let k of availableDermatologistAppointments'>
                        <td>{{k.dermatologistName}}</td>
                        <td>{{k.pharmacyName}}</td>
                        <td>{{k.date}}</td>
                        <td>{{k.time}}</td>
                        <td>{{k.price}}</td>
                        <td><button mat-raised-button class="btn btn-success btn-sm" (click)="makeDermatologistAppointment([k.appointmentId])">Reserve</button></td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>

</div>