<div class="wrapper" style="background-image: url(./assets/img/6.jpg); margin-top: -2px; ">
    <div>
        <div class="sidebar" data-color="danger" data-background-color="white" data-image="./assets/img/sidebar-1.jpg">
            <div class="sidebar-background" style="background-image: url(./assets/img/background.jpg)"></div>
            <div class="logo">
                <a  ng-click="func()" href="https://www.creative-tim.com" class="simple-text">
                    <div class="logo-img">
                        <img src="/assets/img/logo.png" />
                    </div>
                    My Pharmacy
                </a>
            </div>
            <div class="sidebar-wrapper">
                <ul class="nav">
                    <li  ng-click="func()" routerLinkActive="active" class="nav-item">
                        <a  ng-click="func()"  class="nav-link sidebar-1" [routerLink]="['/login']" > <i class="material-icons">person</i>
                            <p style="color: green; font-weight: 500;">Log in</p>
                        </a>
                    </li>
                    <li routerLinkActive="active" class="nav-item">
                        <a class="nav-link sidebar-1" [routerLink]="['/login']"> <i
                                class="material-icons">add_business</i>
                            <p style="color: green; font-weight: 500;">Pharmacies</p>
                        </a>
                    </li>
                    <li routerLinkActive="active" class="nav-item">
                        <a class="nav-link sidebar-1" [routerLink]="['/login']"> <i
                                class="material-icons">scatter_plot</i>
                            <p style="color: green; font-weight: 500;">Medicines</p>
                        </a>
                    </li>
                </ul>
            </div>
        </div>
    </div>

</div>

