<pharmacy-admin-navbar></pharmacy-admin-navbar>
<div>

    <div style="margin-left:300px; margin-top:50px; padding:60px;">
        <h1>My Pharmacy</h1>
        <div class="row">
            <form (ngSubmit)="editPharmacy()" #loginForm="ngForm">

                <div class="row">

                    <div class="col-sm-6">
                        <div class="form-group">
                            <th>Pharmacy Name</th>

                            <input type="text" value="" placeholder="Naziv apoteke" class="form-control" name="name"
                                #name="ngModel" [(ngModel)]="myPharmacy.name" />

                        </div>
                    </div>

                    <div class="col-sm-6">
                        <div class="form-group">
                            <th>Pharmacy Description</th>
                            <input type="text" value="" placeholder="Opis apoteke" class="form-control"
                                name="description" #description="ngModel" [(ngModel)]="myPharmacy.description" />

                        </div>
                    </div>
                    <div class="col-sm-6">
                        <div class="form-group">
                            <th>Pharmacy Address</th>
                            <input type="text" value="" placeholder="Adresa apoteke" class="form-control" name="address"
                                #address="ngModel" [(ngModel)]="myPharmacy.address" />
                        </div>
                    </div>
                    <div class="col-sm-6">
                        <div class="form-group">
                            <th>Pharmacy Rate</th>
                            <input type="number" disabled value="" placeholder="Opis apoteke" class="form-control "
                                name="rate" #description="ngModel" [(ngModel)]="myPharmacy.rate" />

                        </div>
                    </div>

                    <div>
                        <input type="submit" value="Edit pharmacy" mat-raised-button class="btn btn-success">
                    </div>
                </div>
            </form>
        </div>

        &nbsp;
        &nbsp;
        <div class="row">


            <h1>Current pharmacy actions and promotions</h1>
            <div class="card">
                <div class="card-header card-header-success">
                    <h4 class="card-title">Actions</h4>
                </div>
                <div class="card-content table-responsive table-full-width">
                    <table class="table">
                        <thead class="text-success">

                            <th>Description</th>
                            <th>Date From</th>
                            <th>Date To</th>


                        </thead>
                        <tbody>
                            <tr *ngFor='let k of myActions'>

                                <td>{{k.description}}</td>
                                <td>{{k.dateFrom}}</td>
                                <td>{{k.dateTo}}</td>

                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>

        <div>
            <h2>Create New Action</h2>
            <form (ngSubmit)="addActionPharmacy()" #newDermatologistForm="ngForm">
                <div class="row">
                    <div class="col">

                        <div class="col-sm-8">
                            <div class="form-group">
                                <input required type="text" value="" placeholder="Enter Action Description"
                                    class="form-control" name="nemamPojma33" #nemamPojma33="ngModel"
                                    [(ngModel)]="newActions.description" />
                            </div>
                        </div>

                        <div class="col-sm-8">
                            <mat-form-field appearance="fill">
                                <mat-label>Action Start Date</mat-label>
                                <input required matInput [matDatepicker]="picker1" name="nemamPojma4"
                                    #nemamPojma4="ngModel" [(ngModel)]='newActions.dateFrom'>
                                <mat-datepicker-toggle matSuffix [for]="picker1"></mat-datepicker-toggle>
                                <mat-datepicker #picker1></mat-datepicker>
                            </mat-form-field>
                        </div>

                        <div class="col-sm-8">
                            <mat-form-field appearance="fill">
                                <mat-label>Action End Date</mat-label>
                                <input required matInput [matDatepicker]="picker2" name="nemamPojma34"
                                    #nemamPojma4="ngModel" [(ngModel)]='newActions.dateTo'>
                                <mat-datepicker-toggle matSuffix [for]="picker2"></mat-datepicker-toggle>
                                <mat-datepicker #picker2></mat-datepicker>
                            </mat-form-field>
                        </div>




                        <div>
                            <input type="submit" value="Create" mat-raised-button class="btn btn-success">
                        </div>
                    </div>
                </div>
            </form>

        </div>
    </div>




</div>