
<pharmacist-navbar></pharmacist-navbar>

<!-- ovde prikazi podatke o trenutnom pacijentu mozda-->
<!-- <div style="margin-left:300px; margin-top:50px; padding:60px;">
    <h1>{{pharmacy.name}}</h1>
    <h4>{{pharmacy.description}}</h4>
    <h4>Address: {{pharmacy.address}}</h4>
    <h4>Rate: {{pharmacy.rate}}</h4>
-->

<div style="margin-left:300px; margin-top:-50px; padding:60px;">

    <div class="card" style="margin-top: 150px;">
        <div class="card-header card-header-success">
            <h4 class="card-title">Scheduling counseling</h4>
            <p class="card-category">This is the list of all the available counseling. You can reserve them here.</p>
        </div>
        <div class="card-content table-responsive table-full-width">
            <table class="table">
                <thead class="text-success">
                    <th>Pharmacist Name</th>
                    <th>Pharmacist Rate<i (click)="sort('RATE')" style="color: rgb(70, 70, 70); cursor: pointer;"
                            class="material-icons">sort</i> </th>
                    <th>Date </th>
                    <th>Time </th>
                    <th>Price <i (click)="sort('PRICE')" style="color: rgb(70, 70, 70); cursor: pointer;"
                            class="material-icons">sort</i></th>
                    <th>Make Reservation </th>
                </thead>
                <tbody>
                    <tr *ngFor='let k of availablePharmacistCounseling'>
                        <td>{{k.PharmacistName}}</td>
                        <td>{{k.pharmacistRate}}</td>
                        <td>{{k.date}}</td>
                        <td>{{k.time}}</td>
                        <td>{{k.price}}</td> 
                        <td><button mat-raised-button class="btn btn-success btn-sm"
                                (click)="makePharmacistCounseling([k.appointmentId])">Reserve</button></td>
                                <!--//////////////////////////////////-->
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>